<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Both teams to score">

    <title>Pricing Table &ndash; Layout Examples &ndash; Pure</title>
    <!-- Vendor libs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-animate.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="js/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

    <!-- My main entry point-->
    <script type="text/javascript" src="js/main.js"></script>
    <!--<script type="text/javascript" src="js/services/CurrentWeekService.js"></script>-->
    <script type="text/javascript" src="js/controllers/MainController.js"></script>
    <script type="text/javascript" src="js/controllers/CurrentWeekController.js"></script>
    <script type="text/javascript" src="js/controllers/PrimaryChoicesController.js"></script>
    <script type="text/javascript" src="js/controllers/SecondaryChoicesController.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  
<!--<![endif]-->


        <link rel="stylesheet" href="css/pricing.css">

</head>
<body ng-app="bttsApp2" ng-controller="MainController as mainCtrl" ng-init="mainCtrl.init()">
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Your Logo</a>
    <ul>
        <li><a href="#">Home</a></li>
        <li class="pure-menu-selected"><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<div class="banner" ng-click="mainCtrl.toggle=!mainCtrl.toggle">
    <h1 class="banner-head">
        HPD Both teams to score.<br>
        Click to enter Week {{currentweek.week}} choices.

    </h1>
</div>
<div class="form-banner">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div align="center" class="toggle-form well well-lg" collapse="!mainCtrl.toggle" >


    <form name="myForm" class="pure-form pure-form-stacked choices-form" ng-submit="myForm.$valid && submitChoices();mainCtrl.toggle=!mainCtrl.toggle" novalidate>
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="users">Users</label>
                    <select id="users" class="pure-input-1-2" ng-model="selection.name" required>
                        <option ng-repeat="user in mainCtrl.users.names">{{user}}</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="week-no">Week No</label>
                    <input id="week-no" type="text" ng-model="currentweek.week" >
                </div>


                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="choice1">Choice 1</label>
                    <select id="choice1" class="pure-input-1-2" ng-model="selection.choice1" required>
                        <option>Spurs</option>
                        <option>Arsenal</option>
                        <option>West Ham</option>
                        <option>Gillingham</option>
                        <option>Celtic</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="choice2">Choice 2</label>
                    <select id="choice2" class="pure-input-1-2" ng-model="selection.choice2" required>
                        <option>Spurs</option>
                        <option>Arsenal</option>
                        <option>West Ham</option>
                        <option>Gillingham</option>
                        <option>Celtic</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="choice3">Choice 3</label>
                    <select id="choice3" class="pure-input-1-2" ng-model="selection.choice3" required>
                        <option>Spurs</option>
                        <option>Arsenal</option>
                        <option>West Ham</option>
                        <option>Gillingham</option>
                        <option>Celtic</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="choice4">Choice 4</label>
                    <select id="choice4" class="pure-input-1-2" ng-model="selection.choice4" required>
                        <option>Spurs</option>
                        <option>Arsenal</option>
                        <option>West Ham</option>
                        <option>Gillingham</option>
                        <option>Celtic</option>
                    </select>
                </div>

            </div>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>

</div>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-2" ng-controller="CurrentWeekController as currWeekCtrl">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Week</h2>
                    <span class="pricing-table-price">
                       {{currentweek.week}} <span>choices</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li ng-repeat="selection in currWeekCtrl.selections">

                            <section class="selections">

                                    <p class="selections-user"><cite>{{selection.user}}</cite> on {{selection.date | date:'medium'}}</p>
                                <article>
                                    <p>{{selection.choice1}}</p>
                                    <p>{{selection.choice2}}</p>
                                    <p>{{selection.choice3}}</p>
                                    <p>{{selection.choice4}}</p>
                                </article>
                            </section>
                    </li>
                </ul>

            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-4" ng-controller="PrimaryChoicesController as primaryCtrl">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Primary Choices</h2>

                    <span>
                                    <p>{{primaryCtrl.primary.choice1}}</p>
                                    <p>{{primaryCtrl.primary.choice2}}</p>
                                    <p>{{primaryCtrl.primary.choice3}}</p>
                                    <p>{{primaryCtrl.primary.choice4}}</p>

                    </span>
                </div>

                <ul class="pricing-table-list" ng-repeat="summary in primaryCtrl.selectionSummary | orderBy:'count':true">
                    <li>{{summary.choice}} {{summary.count}} times</li>
                </ul>

            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-4" ng-controller="SecondaryChoicesController as secondaryCtrl">
            <div class="pricing-table pricing-table-enterprise pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Secondary Choices</h2>

                    <span>
                                    <p>{{secondaryCtrl.secondary.choice1}}</p>
                                    <p>{{secondaryCtrl.secondary.choice2}}</p>
                                    <p>{{secondaryCtrl.secondary.choice3}}</p>
                                    <p>{{secondaryCtrl.secondary.choice4}}</p>

                    </span>
                </div>

                <ul class="pricing-table-list" ng-repeat="summary in secondaryCtrl.selectionSummary | orderBy:'count':true">
                    <li>{{summary.choice}} {{summary.count}} times</li>
                </ul>

            </div>
        </div>



    </div> <!-- end pricing-tables -->

</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        Put some stuff here
    </p>
</div>




</body>
</html>
